# MongoDB Atlas connection string
MONGO_URI=mongodb://localhost:27017/?retryWrites=true&loadBalanced=false&connectTimeoutMS=10000
DB_NAME=local

# Email settings
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD= 
MAIL_DEFAULT_SENDER=your-email@gmail.com

# Security
JWT_SECRET=your-very-secret-key-change-me
JWT_ALGORITHM=HS256

# CORS Setting
CORS_ORIGINS=http://localhost:5173


EMBEDDING_MODEL=marqo-fashionsiglip
# EMBEDDING_MODEL=marqo-fashionclip
# EMBEDDING_MODEL=clip-vit-b32